:root {
    --light: #ffffff;
    --blue: #6587bf;
    --green: #7c9f4b;
    --red: #db7070;
    --yellow: #d69822;
    --pink: #b870ce;
    --cyan: #509c93;
    --light-gray: #eeeeeeff;
    --medium-gray: #ddd;
    --gray: #6a6a6a;
    --dark: #444;
    --darker: #222;
}

html {
    background: var(--light);
    -webkit-text-size-adjust: none;
}

::selection {
    background: var(--medium-gray);
    opacity: 0.3;
}

del {
    text-decoration: line-through !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 4rem;
    font-size: 1.5rem;
    color: var(--light);
    background-color: var(--gray);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: var(--dark); /* Change to a darker blue on hover */
}
main,
footer {
    font-family:
        "InterVariable",
        -apple-system,
        BlinkMacSystemFont,
        "Roboto",
        "Segoe UI",
        sans-serif;
    font-size: 1.3rem;
    padding: 0;
    line-height: 120%;
}

main article,
table {
    min-width: 0;
}

main h1,
h2,
h3 {
    font-family: "Instrument Serif", ui-serif, serif;
    font-weight: 500;
    line-height: 120%;
}

h3 {
    font-size: 2rem;
}

main section {
    background: var(--light);
    border-radius: 10px;
    margin: 0 0 20px 0;
    padding: 20px;
    p {
        color: var(--gray);
        line-height: 1.5;
    }
}

h2,
h3 {
    margin-bottom: 20px;
}

strong {
    font-weight: 500;
}

h1 {
    font-size: 3.5rem;
    padding: 20px 0 20px 0;
}

main h2 {
    font-size: 3rem;
}

main h2,
h3 {
    padding: 20px 0 10px 0;
}

.logo img {
    max-height: 2.5rem;
    max-width: 2.5rem;
    vertical-align: middle;
    transform: translateY(-5%);
}

.logo {
    text-decoration: none;
    border-bottom: unset;
    background: unset !important;
}

.logo:hover {
    border-bottom: unset;
}

.footimgs a {
    all: unset !important;
}

.footimgs img {
    max-height: 2.5rem;
    max-width: 2.5rem;
    display: inline-block;
    vertical-align: middle;
    image-orientation: from-image;
    padding: 0 0 5px 5px;
    cursor: pointer;
}

a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    word-wrap: break-word;
}

main a {
    color: var(--darker);
    border-bottom: 1.5px solid var(--medium-gray);
}

a:hover {
    border-bottom: 1.5px solid var(--gray);
}

.footer {
    column-count: 2;
    column-gap: 12px;
}

body {
    padding: 0 13px;
    margin: 40px auto;
    max-width: 100%;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

main article img {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: 10px auto 4px auto;
}

main ul,
main ol {
    margin: 0 30px 7px 30px;
}

main ul ul {
    margin-bottom: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5rem 0.5rem 0;
}

.image-grid {
    column-count: 2;
}

.image-grid img {
    all: unset;
    object-fit: cover;
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

.image-grid a {
    border-bottom: unset;
}

.subtitle {
    padding: 2px 0 20px 0;
    margin-top: 3px !important;
    margin-bottom: 5px;
    color: var(--gray);
}

.muted {
    color: var(--gray);
}
.muted a {
    color: var(--cyan);
    border-bottom: 1.5px solid var(--cyan);
}

article p {
    padding: 7px 0 7px 0;
}

article a {
    color: var(--dark);
}

.tagline {
    margin: 10rem 0 10rem 0;
    text-align: center;
    p {
        text-align: center;
        font-size: 1.5rem;
        color: var(--gray);
    }
    em {
        color: var(--blue);
    }
    h1 {
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 500;
    }
}

pre {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    min-width: 0;
    background-color: var(--light-gray) !important;
    margin-bottom: 10px;
}

code {
    font-size: 0.9rem;
    background-color: var(--light-gray);
}

.post-date {
    color: var(--gray);
    text-transform: lowercase;
}

table {
    table-layout: fixed;
    width: 100%;
}

table a {
    text-decoration: none;
}

td {
    padding: 7px 11px 7px 11px;
}

td p#subtitle {
    color: var(--gray);
}

td:first-child {
    padding-left: 0;
}

td:last-child {
    padding-right: 0;
}

.index-date {
    white-space: nowrap;
    vertical-align: baseline;
    color: var(--gray);
    text-transform: lowercase;
}

header {
    padding-bottom: 20px;
}

hr {
    max-width: 100%;
    text-align: left;
    margin: 20px 0 20px 0;
}

footer {
    padding-top: 30px;
}

blockquote {
    margin: 7px 0 7px 0;
}

blockquote p {
    font-style: italic;
    color: var(--darker);
    padding-left: 20px;
    border-left: 1.5px solid var(--medium-gray);
}

nav {
    float: right;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 20px;
}

nav ul li {
    padding-right: 10px;
    display: inline-block;
}

.footnote-ref a {
    text-decoration: none;
    color: var(--light);
    border-radius: 50%;
    text-align: center;
    line-height: 0.8rem;
    background: var(--cyan);
    width: 0.8rem;
    height: 0.8rem;
    font-size: 0.6rem;
    display: inline-block;
}

.footnotes > ol li::before {
    content: counter(counter);
    border-radius: 50%;
    text-align: center;
    line-height: 1.2rem;
    color: var(--light);
    background: var(--cyan);
    width: 18px;
    height: 18px;
    font-size: 11px;
    margin-right: 0.5rem;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    transform: unset;
}

.footnotes ol li:not(:last-child) {
    padding-bottom: 2rem;
}

.infoboxes {
    display: grid;
    grid-template-columns: 1fr;
    .left,
    .right {
        width: 60%;
        padding: 10px;
        box-sizing: border-box;
        justify-self: start; /* Default to start */
    }
    .right {
        justify-self: end;
    }
}

#features {
    padding: 1rem 0 0.5rem 0;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* This creates two columns */
    grid-template-rows: 1fr 1fr; /* This creates` two rows */
    gap: 0.5rem;
}

.feature-item {
    display: flex;
    align-items: flex-start;
}

.feature-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--gray);
    background-color: var(--light-gray);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.feature-content {
    width: 90%;
}

.feature-content h3 {
    margin-bottom: 1rem;
}

.feature-content p {
    color: var(--gray);
}

#how-it-works {
    padding: 0.5rem 0;
}

h4 {
    padding-top: 1rem;
    font-family: "InterDisplay", sans-serif;
    font-size: 1.5rem;
}

.art::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        url("data:image/svg+xml;base64,ICAgICAgICAgIDxzdmcgd2lkdGg9IjE2OSIgaGVpZ2h0PSI2NzMiIHZpZXdCb3g9IjAgMCAxNjkgNjczIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgICAgICAgICA8cGF0aCBkPSJNLTAuMDAwMTIyMDcgNjcyLjQ4NEM5Mi45MTc0IDY3Mi40ODQgMTY4LjI0MiA1OTcuMTYgMTY4LjI0MiA1MDQuMjQyQzE2OC4yNDIgNDExLjMyNSA5Mi45MTc0IDMzNiAtMC4wMDAxMjIwNyAzMzZWNjcyLjQ4NFoiIGZpbGw9IiNkYjcwNzA1NSI+PC9wYXRoPgogICAgICAgICAgPC9zdmc+Cgo=")
            no-repeat left top,
        url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY5IiBoZWlnaHQ9IjY3MyIgdmlld0JveD0iMCAwIDE2OSA2NzMiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3R5bGU9InRyYW5zZm9ybTogcm90YXRlKDE4MGRlZykiPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAzMzYuNDg0QzkyLjkxNzUgMzM2LjQ4NCAxNjguMjQyIDI2MS4xNiAxNjguMjQyIDE2OC4yNDJDMTY4LjI0MiA3NS4zMjQ1IDkyLjkxNzUgMCAwIDBWMzM2LjQ4NFoiIGZpbGw9IiM3YzlmNGI1NSI+PC9wYXRoPgogICAgICAgICAgPC9zdmc+Cg==")
            no-repeat right top;
    background-size: contain, auto;
    z-index: -1;
}

.art2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        url("data:image/svg+xml;base64,ICAgICAgICAgIDxzdmcgd2lkdGg9IjE2OSIgaGVpZ2h0PSI2NzMiIHZpZXdCb3g9IjAgMCAxNjkgNjczIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJ0cmFuc2Zvcm06IHJvdGF0ZSgxODBkZWcpIj4KICAgICAgICAgICAgPHBhdGggZD0iTTAgMzM2LjQ4NEM5Mi45MTc1IDMzNi40ODQgMTY4LjI0MiAyNjEuMTYgMTY4LjI0MiAxNjguMjQyQzE2OC4yNDIgNzUuMzI0NSA5Mi45MTc1IDAgMCAwVjMzNi40ODRaIiBmaWxsPSIjZDY5ODIyNTUiPjwvcGF0aD4KICAgICAgICAgIDwvc3ZnPgo=")
            no-repeat right top,
        url("data:image/svg+xml;base64,ICAgICAgICAgIDxzdmcgd2lkdGg9IjE2OSIgaGVpZ2h0PSI2NzMiIHZpZXdCb3g9IjAgMCAxNjkgNjczIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAzMzYuNDg0QzkyLjkxNzUgMzM2LjQ4NCAxNjguMjQyIDI2MS4xNiAxNjguMjQyIDE2OC4yNDJDMTY4LjI0MiA3NS4zMjQ1IDkyLjkxNzUgMCAwIDBWMzM2LjQ4NFoiIGZpbGw9IiM2NTg3YmY1NSI+PC9wYXRoPgogICAgICAgICAgPC9zdmc+Cg==")
            no-repeat left top;
    background-size: contain, auto;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .footer {
        column-count: 1;
    }

    .image-grid {
        column-count: 1;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    td {
        padding: 0;
        text-align: left;
    }
    tr {
        padding: 10px 0 10px 0;
    }

    .art::before {
        background-size: auto, auto;
    }
    .art2::after {
        background-size: 20%, 20%;
    }

    .infoboxes {
        .left,
        .right {
            width: 100%;
        }
    }
    .features-grid {
        .feature-content {
            width: 100%;
        }
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
