---
import { Icon } from 'astro-icon/components'
import BaseLayout from '../layouts/Base.astro'
import ControlPlaneGraphic from '../svgs/control-plane.svg?raw'
import PaperGrid from '../components/PaperGrid.astro'
import Footer from '../components/Footer.astro'
---

<BaseLayout>
  <body un-cloak>
      Working on it.
  </body>
</BaseLayout>
