---

---

<header class="sticky top-0 z-10 backdrop-blur-sm">
  <div class="flex justify-between p-5">
    <div class="w-full h-full">
      <img src="/logo.svg" class="h-10" />
    </div>
    <div class="text-base">
      <ul class="flex gap-2 items-center font-sans">
        <li class="hover:bg-[--surface] rounded h-10">
          <a href="#" class="inline-flex items-center p-4 w-full h-full">Home</a
          >
        </li>
        <li class="hover:bg-[--surface] rounded h-10">
          <a href="#" class="inline-flex items-center p-4 w-full h-full"
            >Features</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
