---
import '@fontsource/geist-sans/300.css'
import '@fontsource/geist-sans/400.css'
import '@fontsource/geist-sans/600.css'

import '@fontsource/geist-mono'
import '@fontsource/crimson-text'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      Kapy Cluster 路 Deploy globally from a single Kubernetes cluster
    </title>
    <meta
      name="title"
      content="Kapy Cluster 路 Deploy globally from a single Kubernetes cluster"
    />
    <meta
      name="description"
      content="Deploy globally with the familiar interface of Kubernetes. Using Kapy Cluster, your Kubernetes clusters are multi-region by default, with seamless interop with the wider cloud-native ecosystem"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kapycluster.com/" />
    <meta
      property="og:title"
      content="Kapy Cluster 路 Deploy globally from a single Kubernetes cluster"
    />
    <meta
      property="og:description"
      content="Deploy globally with the familiar interface of Kubernetes. Using Kapy Cluster, your Kubernetes clusters are multi-region by default, with seamless interop with the wider cloud-native ecosystem"
    />
    <meta property="og:image" content="https://kapycluster.com/og.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://kapycluster.com/" />
    <meta
      property="twitter:title"
      content="Kapy Cluster 路 Deploy globally from a single Kubernetes cluster"
    />
    <meta
      property="twitter:description"
      content="Deploy globally with the familiar interface of Kubernetes. Using Kapy Cluster, your Kubernetes clusters are multi-region by default, with seamless interop with the wider cloud-native ecosystem"
    />
    <meta property="twitter:image" content="https://kapycluster.com/og.png" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      :root {
        --base: #fff;
        --brand: #afb8fb;
        --on-brand: #1a1a32;
        --highlight: #6a87ef;
        --surface: #2b2b51;
        --text: #1a1a32;
        --text-hsl: 240, 32%, 15%;
        --subtle: #3c3c72;

        --brand-light: hsl(233, 90%, 84%);

        --lime: #00d37f;
        --green: #014751;
        --terminal-window: #fff;
      }

      html {
        font-size: 18px;
      }

      .mask-diag {
        mask-image: radial-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 25%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      .animate.fade-in-y,
      .animate-kids.fade-in-y > * {
        opacity: 0;
        animation: fade-in-y var(--duration, 800ms) var(--direction, forwards);
        animation-delay: calc(var(--delay, 0) * 100ms);
      }

      @keyframes fade-in-y {
        from {
          opacity: 0;
          transform: translateY(var(--from, 20px));
        }

        to {
          opacity: 1;
          transform: none;
        }
      }

      @media (prefers-reduced-motion: reduce) {
        *,
        ::before,
        ::after {
          animation-delay: -1ms !important;
          animation-duration: 1ms !important;
          animation-iteration-count: 1 !important;
          background-attachment: initial !important;
          scroll-behavior: auto !important;
          transition-duration: 0s !important;
          transition-delay: 0s !important;
        }
      }

      body {
        font-family: 'Geist Sans', sans-serif;
        font-weight: false;
        line-height: 1.65;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
